// variable
$navigation-width: 88px;
$navigation-active: 296px;
$transition: 0.5s;

// media-query
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

// color
$b: #5570f1;
$g: #519c66;
$r: #cc5f5f;
$w: #fff;