button{
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}
.state-btn {
    @include fonts('Inter', 12, 400, 15, #1c1d22);
    padding: 4px 11px;
    border-radius: 8px;
}
.state-ty01{
    background-color: #fff2e2;
}
.state-ty02{
    color: $g;
    background-color: rgba(50, 147, 111, 0.16);
}
.state-ty03{
    color: $b;
    background-color: rgba(85, 112, 241, 0.16);
}
.state-ty04{
    color: $r;
    background-color: rgba(245, 126, 119, 0.12);
}
.btn-ty01{
    button{
        background-color: $b;
    }
}
.btn-ty02{
    border: 1px solid #53545c;
    border-radius: 4px;
    @include fonts('Inter', 11, 400, 16, #53545c);
    background-size: 16px;
    background-position: center left 8px;
    display: flex;
    align-items: center;
    padding: 7px 8px 7px 32px;
}
.double{
    display: flex;
    justify-content: space-between;
}
.img-btn-area{
    position: absolute;
    width: 69px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    button{
        width: 32px;
        height: 32px;
        border-radius: 8px;
        background-color: #fff2e2;
    }
}
.toggle-btn{
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(85, 112, 241, 0.12);
    padding: 2px;
    cursor: pointer;
    button{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #bbc5cb;
    }
}     
.btn-active{
    text-align: right;
    background-color: $b;
    button{
        background-color: $w;
    }
}