.navigation{
    padding: 14px 16px;
    transition: padding 0.5s;
    h1{
        padding: 0 2px;
        position: relative;
        a{
            img{
                width: 52px;
                height: 52px;
            }
            span{
                @include fonts ('Poppins', 20, 700, 30, #45464E);
                position: absolute;
                bottom: 8px; left: 60px;
            }
        }
    }
    menu{
        margin-top: 62px;
        .hidden-title{
            height: 14px;
            position: absolute;
            top: 0; bottom: 0; left: 60px;
            margin: auto;
            overflow: hidden;
        }
        .category-img{
            position: absolute;
            top: 0; bottom: 0; left: 16px;
            margin: auto;
        }
        nav{
            ul{
                li{
                    @include fonts ('Inter', 14, 400, 14, #53545c);
                    margin-top: 12px;
                    &:first-child{
                        margin-top: 0;
                    }
                    a{
                        display: inline-block;
                        width: 56px;
                        height: 56px;
                        border-radius: 12px;
                        position: relative;
                        transition-property: width;
                        transition-duration: $transition;
                        .after{
                            display: none;
                        }
                        .alarm{
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            background-color: #ffcc91;
                            position: absolute;
                            top: 0; left: 32px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: left top;
                            transition-duration: $transition;
                            span{
                                @include fonts('Inter', 12, 400, 15, #1c1d22)
                            }
                        }
                    }
                    .router-link-active{
                        background-color: $b;
                        .before{
                            display: none;
                        }
                        .after{
                            display: block;
                        }
                        span{
                            color: $w;
                        }
                        .alarm{
                            display: none;
                        }
                    }
                }
            }
        }
        .btns{
            position: absolute;
            top: 76%;
            ul{
                li{
                    @include fonts ('Inter', 14, 400, 14, #1c1d22);
                    width: 56px;
                    height: 56px;
                    border-radius: 16px;
                    position: relative;
                    background-color: rgba(255, 204, 145, 0.2);
                    margin-top: 14px;
                    transition-property: width, height;
                    transition-duration: $transition;
                    .hidden-title{
                        left: 55px;
                    }
                }
                .headphone-box{
                    height: 46px;
                    background-color: #f4f5fa;
                    margin-top: 0;
                }
                .gift-box{
                    .category-img{
                        top: 16px;
                        margin: 0;
                    }
                    .hidden-title{
                        top: 21px;
                        margin: 0;
                    }
                    .hidden-title2{
                        @include fonts ('Inter', 12, 400, 14, #6e7079);
                        height: 14px;
                        position: absolute;
                        bottom: 15px; left: 20px;
                        overflow: hidden;
                    }
                    .hidden-img{
                        position: absolute;
                        bottom: 14px; right: 53px;
                    }
                }
            }
        }
        .logout-box{ 
            position: absolute;
            top: 92%;
            @include mdq-tablet {
                position: static;
                margin-top: 50px;
            }
            a{
                display: inline-block;
                width: 56px;
                height: 56px;
                position: relative;
                .hidden-title{
                    @include fonts ('Inter', 14, 400, 11, $r);
                }
            }
        }
    }
}