.select-box {
    position: relative;
    background-image: url('../images/settings/fi_chevron-down.png');
    background-repeat: no-repeat;
    background-position: center right 16px;
    border-radius: 8px;
    background-color: rgba(239, 241, 249, 0.6);
    direction: rtl;
    cursor: pointer;
    .selected{
        padding: 16px 36px 16px 16px;
        .value{
            @include fonts('Inter', 16, 400, 20, #abafb1);
        }
    }
    ul{
        width: 100%;
        position: absolute;
        background-color: $w;
        z-index: 10;
        border: 1px solid #000;
        .option{
            @include fonts('Inter', 16, 400, 20, #abafb1);
            padding: 10px;
            &:hover{
                color: #000;
            }
        }
    }
}
.no-bg-sel{
    background-image: url('../images/dashboard/fi_chevron-down.png');
    background-color: transparent;
    background-position: center right 0px;
    .selected{
        padding: 0 22px 0 6px;
        .value{
            @include fonts('Inter', 12, 400, 16, #bec0ca);
        }
    }
    ul{
        display: block;
        margin-top: 0;
        .option{
            @include fonts('Inter', 12, 400, 16, #bec0ca);
            padding: 5px;
            &:hover{
                color: #000;
            }
        }
    }
}
.sel-ty02{
    background-image: url('../images/header/fi_chevron-down.png');
    background-color: #fef5ea;
    background-position: center right 12px;
    .selected{
        padding: 6px 44px 6px 12px;
        .value{
            @include fonts ('Inter', 14, 400, 20, #1c1d22);
        }
    }  
    ul{
        .option{
            @include fonts('Inter', 14, 400, 20, #abafb1);
        }
    }
}