.customers{
    .contents{
        grid-template-columns: 1fr 1fr;
        .table-area {
            padding: 20px;
            grid-column: 1/3;
            grid-row: 2/3;
        }
    }
    .view-custom{
        .view-header{
            .btns{
                .select-box{
                    width: 180px;
                }
            }
        }
        .contents{
            grid-template-columns: 4fr 5fr 3fr;
            grid-template-rows: 20% 20% auto;
            .table-area {
                padding: 20px;
                grid-column: 1/4;
                grid-row: 3/4;
            }
        }
    }
}
.modal-wrap {
    .new-customer{
        max-width: 423px;
        width: 100%;
        height: 513px;
        &.big-modal{
            height: 785px;
        }
        @include mdq-tablet{
            width: calc(100% - 40px);
        }
        section{
            article{
                display: block;
                .active-title{
                    justify-content: start;
                    h5{
                        @include fonts('Inter', 14, 400, 20, #83898c);
                        margin-right: 20px;
                    }
                }  
                .modal-title{
                    margin-top: 24px;
                }
                .form{
                    .double{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 24px;
                        .select-box{
                            width: calc(50% - 8px);
                        }
                    }
                    .input-box-area{
                        margin-top: 24px;
                    }
                }
            }
        }
        .modal-btns{
            max-width: 376px;
        }
    }
}