.inventory{
    .contents{
        grid-template-columns: 1fr 1fr;
        .table-area {
            padding: 20px;
            grid-column: 1/3;
            grid-row: 2/3;
            table{
                tbody{
                    tr{
                        td{
                            padding: 6px 0;
                        }
                    }
                }
            }
        }
    }
    .new-inven{
        .inventory-header{
            h3{
                @include fonts('Inter', 16, 500, 36, #45464e);
            }
            .btns{
                .select-box{
                    width: 170px;
                }
                .btn{
                    width: 160px;
                    text-align: center;
                    background-color: $b;
                }
            }
        }
        .contents{
            grid-template-columns: 882fr 410fr;
            grid-template-rows: auto;
            .product-detail{
                display: flex;
                justify-content: space-between;
                padding: 30px;
                .detail-list{
                    width: calc(50% - 30px);
                    .form-wrap{
                        margin-top: 24px;
                        &:first-child{
                            margin-top: 0;
                            .form{
                                margin-top: 0;
                            }
                        }
                        .title{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            h5{
                                @include fonts('inter', 16, 500, 20, #8b8d97);
                            }
                            .btn-area{
                                display: flex;
                                justify-content: space-between;
                                p{
                                    @include fonts('inter', 14, 400, 20, #2b2f32);
                                    margin-right: 20px;
                                }
                            }
                        }
                        .form{
                            margin-top: 24px;
                            .input-box-area{
                                margin-top: 24px; 
                                position: relative;
                                &:first-child{
                                    margin-top: 0;
                                }
                                p{
                                    @include fonts('inter', 12, 400, 15, #5e6366);
                                }
                                .input-box{
                                    padding-left: 16px;
                                    input{
                                        width: 100%;
                                    }
                                }
                                textarea{
                                    height: 163px;
                                }
                                .input-btn-area{
                                    width: 40px;
                                    position: absolute;
                                    top: 5px; right: 4px;
                                    button{
                                        width: 40px;
                                        height: 20px;
                                        background-color: #dde2e5;
                                    }
                                    .up-icon{
                                        border-radius: 5px 5px 0 0;
                                    }
                                    .down-icon{
                                        margin-top: 3px;
                                        border-radius: 0 0 5px 5px;
                                    }
                                }
                            }
                            .textarea{
                                p{
                                    font-size: 14px;
                                }
                                textarea{
                                    margin-top: 8px;
                                }
                                span{
                                    margin-top: 4px;
                                    @include fonts('inter', 14, 400, 17, #abafb1);
                                }
                            }
                            .icon-in{
                                .input-box{
                                    padding-left: 0;
                                }
                            }
                            .double{
                                display: flex;
                                justify-content: space-between;
                                .input-box{
                                    width: calc(50% - 6px);
                                    margin-top: 0;
                                }
                                .select-box{
                                    width: calc(50% - 6px);
                                    height: 52px;
                                }
                            }
                        }
                    }
                }
            }
            .product-image{
                padding: 20px;   
                .img-btn-area{
                    top: 17px;
                    right: 19px;
                }     
                .main-img{
                    width: 100%;
                    border-radius: 12px;
                    border: solid 1px #e1e2e9;
                    background-color: $w; 
                    position: relative;
                    height: 302px;
                    .image{
                        width: 306px;
                        height: 100%;
                        margin: 0 auto;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 20px;
                        }
                    }
                }
                .addition-img{
                    .title{
                        margin-top: 12px;
                        h5{
                            @include fonts('inter', 16, 500, 20, #45464e);
                        }
                    }
                    .upload-img{
                        display: flex;
                        justify-content: space-between;
                        .upload-box{
                            margin-top: 12px;
                            border-radius: 12px;
                            border: solid 1px #e1e2e9;
                            background-color: $w;
                            position: relative;
                            width: calc(50% - 14px);
                            height: 167px;
                            .image{
                                width: 172px;
                                height: 100%;
                                margin: 0 auto;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .btns{
                                top: 13px;
                                right: 14px;
                            }
                        }
                        .no-img{
                            background-color: #f4f5fa;
                            .image{
                                width: 56px;
                                height: 56px;
                                margin: 41px auto 0;
                                background-image: url('../images/inventory/Image.png');
                                background-size: cover;
                                background-position: center;
                                img{
                                    display: none;
                                }
                            }   
                            .text{
                                margin-top: 12px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                i{
                                    width: 16px;
                                    height: 16px;
                                    margin-right: 10px;
                                }
                                p{
                                    @include fonts('inter', 14, 500, 17, $b);
                                }
                            }
                            .img-btn-area{
                                display: none;
                            }
                        }
                    }
                }

            }
        }
    }
    .view-inven{
        .view-header{
            .btns{
                .select-box{
                    width: 160px;
                }
                .btn{
                    width: 160px;
                    text-align: center;
                }
            }
        }
        .contents{
            grid-template-rows: 20% 20% auto;
            .flex-area{
                grid-column: 1/3;
                grid-row: 1/2;
                display: flex;
                justify-content: space-between;
                .product-img{
                    width: calc(15% - 10px);
                    min-width: 154px;
                    position: relative;
                    img{
                        width: 124px;
                        height: 124px;
                        @include center-align;
                    }        
                }
                article:nth-child(2){
                    width: calc(33% - 20px);
                    ul{
                        margin-top: 60px;
                    }
                }
                article:nth-child(3){
                    width: calc(26% - 10px);
                }
                article:nth-child(4){
                    width: calc(26% - 20px);
                }
            }
            .table-area {
                padding: 20px;
                grid-column: 1/3;
                grid-row: 3/4;
            }
        }
    }
}

@include mdq-desktop{
    .inventory{
        .view-inven{
            .contents{
                .flex-area{
                    display: block;
                    .product-img{
                        display: none;
                    }
                    article:nth-child(2),
                    article:nth-child(3),
                    article:nth-child(4){
                        width: 100%;
                    }
                }
                .table-area {
                    padding: 20px;
                    grid-column: 1/3;
                    grid-row: 3/4;
                }
            }
        }
    }
}

@include mdq-tablet{
    .inventory{
        .new-inven{
            .inventory-header{
                display: flex;
            }
            .contents{
                .product-detail{
                    display: block;
                    .detail-list{
                        margin-top: 24px;
                        width: 100%;
                        &:first-child{
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}

@include mdq-mobile{
    .inventory{
        .new-inven{
            .contents{
                .product-image{
                    .main-img{
                        .image{
                            width: 100%;
                        }
                    }
                    .addition-img{
                        .upload-img{
                            display: block;
                            .upload-box{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}