.orders{
    .contents{
        grid-template-columns: 3fr 3fr 2fr;
        .table-area {
            padding: 20px;
            grid-column: 1/4;
            grid-row: 2/3;
        }
    }
    .view-order{
        .table-area{
            .title{
                h5{
                    span{
                        color: $b;
                    }
                }
            }
            table{
                tbody{
                    tr{
                        td{
                            padding: 6px 0;
                        }
                    }
                }
            }
        }
    }
}
.new-order{
    max-width: 850px;
    width: 100%;
    height: 740px;
    &.big-modal{
        height: 891px;
    }
    section{
        display: flex;
        justify-content: space-between;
        article{
            width: calc(50% - 25px);
            position: relative;
            .form{
                margin-top: 27px;
                .input-box-area{
                    margin-top: 24px;
                    &:first-child{
                        margin-top: 0;
                    }
                    p{
                        @include fonts('Inter', 12, 400, 15, #53545c);
                    }       
                    textarea{
                        height: 124px;
                    }
                }
                .state-sel{
                    .selected{
                        margin-top: 8px;
                        .value{
                            color: #5e6366;
                        }
                    }
                }
                .double{
                    display: flex;
                    justify-content: space-between;
                    .select-box{
                        width: calc(50% - 6px);
                    }
                    .input-box{
                        width: calc(50% - 6px);
                        input{
                            @include fonts('Inter', 16, 400, 20, #abafb1); 
                        }
                    }
                }            
            }
            .search{
                margin-top: 27px;
                background-color: $w;
                border: solid 1px #5e6366;
                i{
                    width: 52px;
                    background-size: 20px;
                }
                input{
                    width: calc(100% - 52px);
                }
            }
            .items{
                margin-top: 28px;
                li{
                    border-bottom: 1px solid #f1f3f9;
                    .item{
                        margin-top: 12px;
                        display: flex;
                        .img{
                            margin-right: 14px;
                        }
                        .texts{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            .text{
                                .prod-name{
                                    @include fonts('Inter', 14, 400, 17, #45464e);
                                }
                                .prod-price{
                                    margin-top: 12px;
                                    @include fonts('Inter', 14, 500, 20, #33343a);
                                }
                            }
                            .item-btn-area{
                                text-align: right;
                                .remove{
                                    @include fonts('Inter', 12, 500, 15, $r);
                                    width: auto;
                                    height: auto;
                                }
                                .add{
                                    @include fonts('Inter', 12, 500, 15, $b);
                                    padding-bottom: 4px;
                                }
                                .btns{
                                    width: 114px;
                                    margin-top: 11px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    .btn{
                                        width: 38px;
                                        height: 23px;
                                        border-radius: 8px;
                                        background-color: rgba(94, 99, 102, 0.08);
                                        button{
                                            width: 38px;
                                            height: 23px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .item-total{
                        display: flex;
                        justify-content: space-between;
                        padding: 10px 0;
                        dt{
                            @include fonts('Inter', 14, 500, 17, #8b8d97); 
                        }
                        dd{
                            @include fonts('Inter', 14, 500, 17, #33343a); 
                        }
                    }
                }       
                .items-total{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 12px;
                    dt{
                        @include fonts('Inter', 16, 500, 20, #8b8d97); 
                    }
                    dd{
                        @include fonts('Inter', 16, 500, 20, #33343a); 
                    }
                }
            }
            .search-item{
                width: 100%;
                position: absolute;
                z-index: 1;
                background-color: $w;
                padding: 12px 16px 20px;
                margin-top: 0;
                border-bottom: solid 1px #cfd3d4;
                border-left: solid 1px #cfd3d4;
                border-right: solid 1px #cfd3d4;
                border-radius: 8px;
                li{
                    padding: 8px 0 12px;
                    .item{
                        margin-top: 0;
                        .texts{
                            align-items: flex-end;
                        }
                    }
                }
            }
            .no-item{
                margin-top: 80px;
                .image{
                    width: 140px;
                    height: 140px;
                    margin: 0 auto;
                    background-image: url('../images/orders/iconContainer.png');
                }
                .texts{
                    margin-top: 40px;
                    text-align: center;
                    h5{
                        @include fonts('Poppins', 20, 500, 30, #000); 
                    }
                    p{
                        margin-top: 12px;
                        @include fonts('Inter', 14, 400, 17, #8b8d97); 
                    }
                }
            }
        }
    }
    .modal-btns{
        width: 50%;
    }
}

@include mdq-tablet{
    .new-order{
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        &.big-modal{
            height: calc(100% - 40px);
        }
        section{
            display: block;
            article{
                width: auto;
                &:last-child{
                    margin-top: 20px;
                }
            }
        }
    }
}